@font-face{
  font-family: 'Abel';
  src: url('../font/Abel-Regular.ttf');
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #012340;
}

main {
  width: 100%;
  height: 380vh;
}

/* nav desain */

.icon {
  display: none;
  align-items: center;
}

.icon > svg {
  width: 30px;
}

.nav {
  height: 100px;
  width: 100px;
  background: url("../assets/Nav.png");
  z-index: 1;
}

.nav-container {
  padding: 10px 100px;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.navBar > img {
  height: 50px;
}

.navBar > ul {
  display: flex;
  list-style-type: none;
}

.navBar > ul > li {
  margin-left: 50px;
  margin-top: 15px;
}

.navBar > ul > li > a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navBar > ul > li > a:hover {
  color: black;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* banner desain */
.banner > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100vh;
}

.banner-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.356);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.356);
}

.banner-content > h1 {
  margin-top: 20vh;
  color: white;
  text-align: center;
  font-size: 60px;
}

.banner-content > p {
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 20.5px;
}

.banner-content > button {
  margin-top: 50px;
  margin-left: 81vh;
  width: 150px;
  height: 50px;
  font-size: 17px;
  cursor: pointer;
  border-style: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Profile desain */

.container-profile {
  padding: 250px;
  display: flex;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.image-profile > img {
  width: 200px;
  height: 400px;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.image-profile > .I {
  width: 150px;
  height: 250px;
  margin-bottom: 30px;
  margin-right: 20px;
  animation: ZoomI;
  -webkit-animation: ZoomI;
  animation-timeline: Zoom();
}

.image-profile > .L:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.image-profile > .I:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.content-profile {
  color: white;
  margin-left: 50px;
}

.content-profile > h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

/* portofolio desain */

.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.356);
}

.content-img {
  margin-top: 36vh;
  /* margin-left: 80vh; */
  height: 500px;
  width: 200px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.img-content {
  object-fit: cover;
  object-position: center;
  height: 250px;
  width: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.content {
  margin-top: 50vh;
  margin-right: 40vh;
  color: white;
}

.content > h1 {
  font-size: 40px;
  margin: 10px 0;
}

.content > h2 {
  font-size: 30px;
  margin: 5px 0;
}

.content > p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.2;
}

/* Contact desain */

.container-contactUs {
  display: flex;
  justify-content: center;
}

.contactUs {
  margin-top: 150px;
  height: 425px;
  width: 400px;
  background: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.356);
}

.contactUs > h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.massage{
display: none;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  width: 250px;
  height: 45px;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.356);
  border: 3px solid red;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.container-form > form > label {
  margin-top: 10px;
  margin-bottom: 5px;
}

#Name{
  margin-top: 45px;
}

.container-form > form > input {
  margin: 10px 0px;
  height: 305x;
  width: 230px;
  padding: 10px;
  font-family: 'abel';
  text-transform:capitalize;
  border-style: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.356);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.container-form > form > input:focus {
  outline: none;
}

.kelamin{
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.kelamin  > label {
  margin-right: 5px;
}

.kelamin > input {
  margin-top: 5px;
  margin-right: 5px;
  border-style: none;
}

.pesan{
  padding: 5px;
  font-size: 15px;
  height: 70px;
  border-style: none;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.356);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.pesan:focus{
  outline: none;
}

.container-form > button {
  margin-top: 10px;
  height: 40px;
  width: 130px;
  cursor: pointer;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.356);
  border-style: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.container-form > button:hover{
  box-shadow: none;
}

.container-form > h3{
  display: none;
  text-decoration: underline;
  margin-top: 5px;
  color: red;
}

.container-form > form {
  display: flex;
  flex-direction: column;
}

/* bagian form hasil dari input desain */

.form {
  margin-top: 450px;
  margin-left: 80px;
  width: 430px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.356);
  animation: nav-anime;
  animation-duration: 900ms;
}

.form > h1 {
  font-size: 50px;
  margin-top: 70px;
  text-align: center;
}

.form{
  padding: 20px 35px;
}

.form > .waktu{
  margin-bottom: 20px;
}

.off{
  display: none;
}

.waktu{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.row{
  display: flex;
}

.label{
  margin-bottom: 20px;
  width: 20%;
  margin-right: 10px;
  font-size: 20px;
}

.nama{
  height: 20px;
  width: 200px;
  border-bottom: 1px solid black;
}

/* footer desain */

footer {
  height: 100;
  width: 100%;
  background-color: white;
}

footer > h1 {
  padding: 50px;
  font-size: 20px;
  text-align: center;
}

/* responsive */

/* max-width: 600px */

@media only screen and (max-width: 600px) {
  .nav-container {
    padding: 5px 20px;
  }

  .icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .navBar {
    flex-wrap: wrap;
  }

  .navBar ul.hidden {
    display: none;
  }

  .navBar > ul {
    margin-right: 10px;
    margin-left: 180px;
    padding: 5px;
    width: 50%;
    background-color: white;
    height: 130px;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: nav-anime;
    animation-duration: 500ms;
}

  .navBar > ul > li {
    margin-left: 20px;
    margin-top: 10px;
  }

  .navBar > ul > li > a {
    color: #000;
    font-size: 16px;
  }

  .banner-content > h1 {
    font-size: 40px;
  }

  .banner-content > p {
    font-size: 16px;
  }

  .banner-content > button {
    margin-left: 34vw;
    width: 130px;
    height: 40px;
    font-size: 15px;
  }

  .container-profile {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .content-profile {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }

  .image-profile > .I {
    margin-right: 10px;
    width: 120px;
    height: 180px;
  }

  .image-profile > .L {
    height: 300px;
    width: 200px;
  }

  .portfolio-container {
    flex-direction: row;
    height: 80vh;
  }

  .content-img {
    margin-top: 65vw;
    height: 43vh;
    width: 40%;
  }

  .img-content {
    width: 100%;
    height: 150px;
  }

  .content {
    margin-top: 50vw;
    margin-right: 0;
  }

  .content > h1 {
    font-size: 30px;
  }

  .content > h2 {
    font-size: 20px;
  }

  .content > p {
    font-size: 10px;
  }

  .container-contactUs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contactUs {
    margin-top: 50px;
    margin-left: 10p;
    width: 90%;
  }

  .form {
    margin-top: 20px;
    margin-left: 0;
    width: 90%;
  }

  .label{
    width: 30%;
  }

  footer {
    height: auto;
  }

  footer > h1 {
    padding: 20px;
  }
}

/* min-width: 600px */
@media only screen and (min-width: 600px) {
  .nav-container {
    padding: 10px 50px;
  }

  .navBar > ul > li {
    margin-left: 30px;
    margin-top: 10px;
  }

  .navBar > ul > li > a {
    font-size: 18px;
  }

  .banner-content > h1 {
    font-size: 50px;
  }

  .banner-content > p {
    font-size: 18px;
  }

  .banner-content > button {
    margin-left: 45vh;
    width: 130px;
    height: 45px;
    font-size: 16px;
  }

  .container-profile {
    padding: 30px;
    height: 70vh;
  }

  .image-profile{
    display: flex;
    align-items: center;
  }

  .image-profile > .L {
    width: 150px;
    height: 250px;
  }

  .image-profile > .I{
    width: 110px;
    height: 160px;
  }

  .content-img{
    margin-top: 28vh;
  }

  .content{
    margin-top: 30vh;
    margin-right: 10vh;
  }

  .contactUs{
    margin-top: 15vh;
    margin-left: 40px;
  }

  .form{
    margin-top: 410px;
    margin-right: 30px;
  }
}

/* min-width: 760px */
@media only screen and (min-width: 760px) {
  .nav-container {
    padding: 10px 30px;
  }

  .navBar > ul > li {
    margin-left: 25px;
    margin-top: 10px;
  }

  .navBar > ul > li > a {
    font-size: 17px;
  }

  .banner-content > h1 {
    font-size: 45px;
  }

  .banner-content > p {
    font-size: 17px;
  }

  .banner-content > button {
    margin-left: 48vh;
    width: 130px;
    height: 43px;
    font-size: 15px;
  }

  .container-profile {
    padding: 50px 50px;
    height: 100vh;
  }

  .image-profile {
    display: flex;
    align-items: center;
  }

  .image-profile > .L {
    width: 150px;
    height: 250px;
  }

  .image-profile > .I {
    height: 160px;
    width: 110px;
  }

  .content-img{
    margin-top: 27vh;
  }

  .content{
    margin-top: 20vh;
    margin-right: 10vh;
  }

  .contactUs{
    margin-top: 30px;
    margin-left: 30px;
  }

  .form{
    margin-top: 210px;
    margin-right: 30px;
  }
}

/* min-width: 992px */
@media only screen and (min-width: 992px) {
  .nav-container {
    padding: 10px 80px;
  }

  .navBar > ul > li {
    margin-left: 40px;
    margin-top: 12px;
  }

  .navBar > ul > li > a {
    font-size: 19px;
  }

  .banner-content > h1 {
    font-size: 55px;
  }

  .banner-content > p {
    font-size: 19px;
  }

  .banner-content > button {
    margin-left: 65vh;
    width: 140px;
    height: 47px;
    font-size: 16px;
  }

  .container-profile {
    padding: 250px;
    height: 80vh;
  }

  .container-profile{
    padding: 40px;
  }

  .image-profile > .L {
    width: 200px;
    height: 400px;
  }

  .image-profile>.I{
    width: 180px;
    height: 300px;
  }

  .content-img{
    margin-top: 28vh;
  }

  .content{
    margin-top: 40vh;
  }

  .contactUs{
    margin-top: 20vh;
  }

  .form{
    margin-top: 310px;
  }
}

@media only screen and (min-width: 1400px) {
  .nav-container {
    padding: 10px 80px;
  }

  .navBar > ul > li {
    margin-left: 40px;
    margin-top: 12px;
  }

  .navBar > ul > li > a {
    font-size: 19px;
  }

  .banner-content > h1 {
    font-size: 55px;
  }

  .banner-content > p {
    font-size: 19px;
  }

  .banner-content > button {
    margin-left: 48vh;
    width: 140px;
    height: 47px;
    font-size: 16px;
  }

  .container-profile {
    padding: 250px;
    height: 80vh;
  }

  .container-profile{
    padding: 40px;
  }

  .image-profile > .L {
    width: 200px;
    height: 400px;
  }

  .image-profile>.I{
    width: 180px;
    height: 300px;
  }

  .content-img{
    margin-top: 49vh;
  }

  .content{
    margin-top: 40vh;
  }

  .contactUs{
    margin-top: 20vh;
  }

  .form{
    margin-top: 490px;
  }
}
/* @media only screen and (){

} */

/* min-width: 1200px */
@media only screen and (min-width: 1200px) {
  .nav-container {
    padding: 10px 100px;
  }

  .navBar > ul > li {
    margin-left: 50px;
    margin-top: 15px;
  }

  .navBar > ul > li > a {
    font-size: 20px;
  }

  .banner-content > h1 {
    font-size: 60px;
  }

  .banner-content > p {
    font-size: 20.5px;
  }

  .banner-content > button {
    margin-left: 80vh;
    width: 150px;
    height: 50px;
    font-size: 17px;
  }

  .container-profile {
    padding: 150px;
    height: 80vh;
  }

  .image-profile > .I {
    margin-right: 25px;
    width: 150px;
    height: 250px;
  }

  .image-profile > .L{
    width: 200px;
    height: 400px;
  }

  .content-profile > h1{
    font-size: 30px;
  }
  
  .content-profile > p{
    font-size: 20px;
  }

  .content{
    margin-right: 30vh;
  }

  .content-img{
    margin-top: 36vh;
  }

  .form{
    margin-top: 43vh;
  }
}

@keyframes nav-anime {
  0%{
    opacity: 0%;
  }

  100%{
    opacity: 100%;
  }
}
